body {
  background-color: #347B98;
  color: #1A3E4C;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  margin: 10% 20%;
}

.name{
  font-family: Georgia, serif;
  font-size: 40px;
  color: #1A3E4C;
}

.description{
  color: #67AFCB;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 300px;
  

}
.exp-header{
  text-align: left;
  text-transform: uppercase; 
  text-decoration: overline;
}
  
img{
  float: right;
}
.footer {
 text-align: center;
 font-family: Georgia, serif;
 
}   

.footer {
  background: #67AFCB;
  padding: 5px;
}


