body {
  background-color: lightsteelblue;
  color: darkblue;
  font-family: garamond, georgia, serif;
  margin: 10% 20%;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 2px solid darkblue;
  border-bottom: 2px solid darkblue;
}

img{
  float: right;
}
